* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --red-button:#D6000D;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}
.container {
    width: 90%;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main img {
    width: 45vw;
}

.website {
    font-size: 2rem;
    font-weight: 600;
    padding: 19px 0 0 0px;
}
.website h1 {
    color: var(--red-button);
}

header.container-home {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
nav.menu a{
    color: black;
    font-weight: 400;
    font-size: 2rem;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.menu li {
    margin-right: 28px;
}
span.button {
    width: 13rem;
    padding: 10px;
}
span.button a {
    color: #fff;
    font-weight: bold;

}

.logo {
    color:var(--red-button);
    font-size: 4rem;
    font-style: italic;    
}

.logo span {
    color: black;
}

.button {
   background-color: var(--red-button);
   width: 23rem;
   margin: 2em 0 0 0;
   padding: 15px 0;
   display: flex;
   justify-content: center;
   border-radius: 10px;
   color: #fff;
   cursor: pointer;
}